/* ResearchPaperSection.css */

.research-paper-container {
  display: flex;
  align-items: flex-start;
}

.image-wrapper {
  margin-right: 20px; /* Adjust the spacing between the image and text */
}

.image-wrapper img {
  max-width: 500px; /* Adjust the image size as needed */
  display: block;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
}

.text-wrapper h2 {
  margin: 0;
}

.text-wrapper p {
  margin-top: auto; /* Push the text to the bottom */
}

.paper-description {
  text-align: justify;
}

/* Media Query for Small Devices (e.g., mobile) */
@media screen and (max-width: 767px) {
  .research-paper-container {
    flex-direction: column;
  }

  .image-wrapper {
    margin-right: 0; /* Remove spacing between the image and text on small devices */
  }

  .image-wrapper img {
    max-width: 100%; /* Adjust the image size to fit the width of the container */
  }

  .text-wrapper {
    order: 1; /* Move the text wrapper below the image */
  }

  .text-wrapper p {
    margin-top: 10px; /* Add a small margin between the image and text on small devices */
  }
}

.see-more-link {
  color: rgb(255, 191, 0);
  font-weight: 800;
}
