.navbar-collapse{
    flex-grow: 0;
    
}

.bg-body-tertiary{
background: linear-gradient(90deg,#0b0933 33%,#3f9fe7 50%,#080d2dfd 72%);
}
.navbar-brand{
    color: #FFFF;
}
.text-color .nav-link {
    color: #FFFFFF;
}